*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
    /* background-color: aqua; */
    padding: 8rem 15rem;
}

.home{
    width: 100%;
}

.home .heading{
    background-color: #ffbe00;
    width: 0.3rem;
    padding: 0.3rem 0;
    white-space: nowrap;
}

.home .heading h1{
    margin-left: 1rem;
    font-size: 1.7rem;
}

.home .container{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.home .container .first_box{
    background-image: url('../images/Blogs.png');
    background-size: cover;
    width: 20rem;
    height: 20rem;
    border-radius: 5px;
    display: flex;
    align-items: end;
}

.home .container .first_box .text{
    border-radius: 0 0 5px 5px;
    width: 100%;
    padding: 0.6rem 0;
    background-color: rgba(0, 0, 0, 0.676);
    text-align: center;
    color: #fff;
}

.home .container .first_box .text h1{
    font-size: 1.6rem;
    font-weight: 600;
}

.home .container .second_bg{
    background-image: url('../images/11_Years_Zidd.png');
}

.home .container a{
    text-decoration: none;
}

.home .container .third_bg{
    background-image: url('../images/Biozyme_Whey.png');
}

.home .container .four_bg{
    background-image: url('../images/MB_Fit.png');
}

.home .container .five_bg{
    background-image: url('../images/Iron_Therapy.png');
}

.home .container .six_bg{
    background-image: url('../images/Ladies_who_lift.png');
}

@media (max-width: 640px){
    main{
        width: 100%;
        padding: 2rem 1rem;
    }

    .home .heading h1{
        font-size: 1.2rem;
    }

    .home .container{
        width: 100%;
        /* flex-wrap: wrap; */
        justify-content: space-evenly;
    }

    .home .container .first_box{
        width: 10rem;
        height: 10rem;
    }

    .home .container .first_box .text h1{
        font-size: 1rem;
    }
}